<div class="col-md-12">

<h3>專長</h3>
<% if f == 1 %>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-10"> 專長 </td>  
            </tr>
        </thead>
    <tbody>
            <tr class="danger">
                <td> 1 </td>
                <td> 單晶片系統設計與應用/SOC Design and Applications </td>
            </tr>
            <tr class="danger">
                <td> 2 </td>
                <td> 影像與視訊處理/Image and Video Processing </td>
            </tr>
            <tr class="danger">
                <td> 3 </td>
                <td> 計算機算術與VLSI設計/Computer Arithmetic and VLSI Design </td>
            </tr>
    </tbody>
    </table>
<% end %>
<% if f == 2 %>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-10"> 專長 </td>  
            </tr>
        </thead>
    <tbody>
            <tr>
                <td> 1 </td>
                <td> 超大型積體電路設計/VLSI design </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> 積體電路輔助設計/VLSI CAD </td>
            </tr>
    </tbody>
    </table>
<% end %>
<% if f == 3 %>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-10"> 專長 </td>  
            </tr>
        </thead>
    <tbody>
            <tr>
                <td> 1 </td>
                <td> 嵌入式系統設計/Embedded System Design </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> VLSI系統設計/VLSI Design </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> 類神經網路/Neural Network </td>
            </tr>
    </tbody>
    </table>
<% end %>

<h3>學歷</h3>
<% if f == 1 %>
    <table class="table table-hover table-bordered">
    <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-4"> 畢業學校 </td>  
                <td class="col-xs-4"> 主修學門系所 </td>  
                <td class="col-xs-2"> 學位 </td>  
            </tr>
        </thead>
    <tbody>
            <tr class="danger">
                <td> 1 </td>
                <td> 美國俄亥俄州立大學 </td>
                <td> 電機工程學系 </td>
                <td> 博士 </td>
            </tr>
            <tr class="danger">
                <td> 2 </td>
                <td> 美國俄亥俄州立大學 </td>
                <td> 電機工程學系 </td>
                <td> 碩士 </td>
            </tr>
            <tr class="danger">
                <td> 3 </td>
                <td> 國立成功大學 </td>
                <td> 電機工程學系 </td>
                <td> 學士 </td>
            </tr>
    </tbody>
    </table>
<% end %>
<% if f == 2 %>
    <table class="table table-hover table-bordered">
    <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-4"> 畢業學校 </td>  
                <td class="col-xs-4"> 主修學門系所 </td>  
                <td class="col-xs-2"> 學位 </td>  
            </tr>
        </thead>
    <tbody>
            <tr>
                <td> 1 </td>
                <td> 美國西北大學 </td>
                <td> 電機所 </td>
                <td> 博士 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> 國立中央大學 </td>
                <td> 資訊及電子工程研究所 </td>
                <td> 碩士 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> 國立成功大學 </td>
                <td> 工程科學系 </td>
                <td> 學士 </td>
            </tr>
    </tbody>
    </table>
<% end %>
<% if f == 3 %>
    <table class="table table-hover table-bordered">
    <thead>
            <tr>
                <td class="col-xs-2"> # </td>
                <td class="col-xs-4"> 畢業學校 </td>  
                <td class="col-xs-4"> 主修學門系所 </td>  
                <td class="col-xs-2"> 學位 </td>  
            </tr>
        </thead>
    <tbody>
            <tr>
                <td> 1 </td>
                <td> 美國密西根州立大學 </td>
                <td> 電機工程學系 </td>
                <td> 博士 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> 美國密西根州立大學 </td>
                <td> 電機工程學系 </td>
                <td> 碩士 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> 國立交通大學 </td>
                <td> 控制工程 </td>
                <td> 學士 </td>
            </tr>
    </tbody>
    </table>
    
<% end %> 
</div>