<p class="text-left"><a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> </p>
<div class="jumbotron">
        <h1 class="text-center">J.H. Hung aka Raven Hung</h1>
        <!-- <p class="text-center">J.H. Hung aka "Rubyinhell"</p> -->
        <div class="row">
        <div class="col-sm-4 col-md-3">
          <img src="https://dl.dropboxusercontent.com/u/10288003/aboutme.png" class="img-circle" style="width:100%" />
        </div>
        <div class="col-sm-4 col-md-9">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class="text-left">台中碼農，目前於台北工作，週三出沒於新北創力坊。</p>
        <p class="text-left">早期寫ASP、C#、JSP後端；前端略懂，常使用Bootstrap/jQuery UI組合玩具。</p>
        <p class="text-left">對Rails敏捷開發情有獨鍾。</p>
        <p class="text-left">近期工作需求以Python寫爬蟲為主，搭配各式大數據，分析並預測趨勢。</p>
        <p class="text-left">旅遊、攝影皆興趣，喜好的國家是日本。</p>
        <h6 class="text-left">&nbsp;</h6>
        <!--<h6 class="text-left"><span class="label label-primary">Github</span>&nbsp;twitter.com/rubyinhell</h6>
        <h6 class="text-left"><span class="label label-default">Linkedin</span>&nbsp;tw.linkedin.com/pub/jun-hao-hung/60/824/685/</h6>-->
        <h6 class="text-left"><span class="label label-danger">Mail</span>&nbsp;m77.raven[at]gmail.com</h6>
        </div>
        </div>
<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->

</div>

<!-- <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>找食物！？</h3>
        <p>...</p>
        <p><a href="foodlist" class="btn btn-primary" role="button">選我</a> </p>
      </div>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>找隊友！？</h3>
        <p>...</p>
        <p><a href="grouplist" class="btn btn-warning" role="button">選我</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>找任務！？</h3>
        <p>施工中...</p>
        <p><a href="#" class="btn btn-success" role="button">選我</a> </p>
      </div>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>找____！？</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-danger" role="button">選我</a></p>
      </div>
    </div>
  </div>
</div> -->