<p class="text-left"><a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> </p>
<div class="jumbotron">
  <h2 class="text-center">ASP.NET</h2><br />

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->



  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="https://dl.dropboxusercontent.com/u/10288003/asp_tpu01.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">台北悠活體驗館</h3>
          <p class="text-center"><a href="asp_1" class="btn btn-primary" role="button">了解更多</a> </p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="https://dl.dropboxusercontent.com/u/10288003/asp_cgu01.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">長庚大學自主學習平台</h3>
          <p class="text-center"><a href="asp_2" class="btn btn-primary" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          

          <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc02.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">新北市智慧里長行動服務</h3>
          <p class="text-center"><a href="asp_3" class="btn btn-primary" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    

  </div>
</div>