<p class="text-left" id="top">
  <a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> 
  <a href="asp" class="btn btn-default btn-xs" role="button"><< Back to ASP.NET</a> 
</p>
<div class="jumbotron">
  <h2 class="text-center" >長庚大學自主學習平台</h2>

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->
    <h6 class="text-muted">相關技術：HTML、CSS、JavaScript、jQuery、ASP.net、C#、Visual Studio 2012、SQL Server 2008、SVN</h6>
    <span class="label label-primary">專案介紹與負責工作</span>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;此專案為長庚大學護理系聯合教學實習平台，包含管理者、授課老師、學生共同使用，包含主題討論區、實習院區分配、實習評分、請假系統。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;負責項目為：</h3>
    <h3>1.首頁的模組化與區塊化。</h3>
    <h3>2.後台功能建置、登入身分區別－管理者、教師、學生。 </h3>
    <h3>3.加入私人訊息功能、分類討論區。 </h3>
    <h3>4.教師評分系統與學生請假系統。</h3>
    <h3>5.各式評量與PDF表單生成下載。</h3>
        


  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_cgu01.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_cgu02.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_cgu03.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_cgu04.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
    <!--   
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div> -->

    

  </div>
  <p><a href="#top" class="btn btn-primary btn-lg" role="button">TOP</a> </p>
</div>