<p class="text-left" id="top">
  <a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> 
  <a href="asp" class="btn btn-default btn-xs" role="button"><< Back to ASP.NET</a> 
</p>
<div class="jumbotron">
  <h2 class="text-center" >新北市政府智慧里長行動服務</h2>

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->
    <h6 class="text-muted">相關技術：HTML、CSS、JavaScript、jQuery、jQuery Mobile、ASP.net、C#、Visual Studio 2012、SQL Server 2008、WebService、Android、iOS、Google Map API、SVN、JSON、AJAX</h6>
    <span class="label label-primary">專案介紹與負責工作</span>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;此專案為新北市政府與中華電信數據通信分公司政府網路處合作，目的為促進公文E化與便利村里重要訊息通報傳遞。使用者分別為新北市政府各處室(以民政局為主)、各公所民政課、村里幹事、里長。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;末端使用者可藉由行動裝置接收訊息通報，如：防颱訊息、社區活動等，而村里幹事、里長可藉由此平台通報相關事宜，EX：災害受損、廢棄物處理等。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;
    專案分為Android、Android平板、iPhone、iPad、Web各版本。其中初代(註1)Android、Android平板為PhoneGap開發，採WebView包入jQuery Mobile開發之網頁。iOS版為原生應用程式、Web版使用ASP.net。公司協助該專案團隊(15人)建立WebService、SVN版本控制系統。於2013年9月單獨駐點台北中華電信參與該專案四個月至Web版本結案。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;
    負責項目為： Web版本開發，包含頁面設計與表單填寫、驗證，上傳圖片或影片，通報列表查詢、嵌入Google Map API、介接WebService服務(WSDL、XML)。 </h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;Android、Android平板頁面設計與表單填寫、驗證。 </h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;註1：Android與Android平板之版本後於2014年1月追加預算改為原生App版本。</h3>
        
<!--     <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc01.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc02.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc03.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" /> -->
    



  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc01.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc02.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc03.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>

    

  </div>
  <p><a href="#top" class="btn btn-primary btn-lg" role="button">TOP</a> </p>
</div>