<p class="text-left" id="top">
  <a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> 
  <a href="asp" class="btn btn-default btn-xs" role="button"><< Back to ASP.NET</a> 
</p>
<div class="jumbotron">
  <h2 class="text-center" >台北悠活體驗館</h2>

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->
    <h6 class="text-muted">相關技術：HTML、CSS、JavaScript、jQuery、ASP.net、C#、Visual Studio 2012、SQL Server 2008、SVN</h6>
    <span class="label label-primary">專案介紹與負責工作</span>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;此專案是我接觸ASP.NET之後負責的第一個案子。前台主要為公告訊息網頁供一般民眾報名、活動查詢。後台管理者功能，可審核網路報名，管理後台帳號、發佈展覽活動等。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;負責項目為： </h3>
    <h3>1.承接前端工程師設計之版面，負責將需要資料呈現的頁面從HTML改為ASP頁面，前台並加入報名、驗證輸入、查詢展覽活動等功能。</h3>
    <h3>2.設計Database Model，撰寫資料庫系統DAO(Database Access Object)，並自行設計SqlHelper，加強程式可讀性、擴展性與模組化。 </h3>
    <h3>3.後台管理頁面，包含帳號管理、報名審核、發佈展覽活動，與登入驗證、自動登出。</h3>
    <h3>4.以jQuery撰寫表單常用function，包含資料在ASP.NET與session與JavaScript的傳遞。</h3>
        
<!--     <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc01.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc02.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc03.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" /> -->
    



  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_tpu01.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_tpu02.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_tpu03.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
<!--         <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div> -->

    

  </div>
  <p><a href="#top" class="btn btn-primary btn-lg" role="button">TOP</a> </p>
</div>