<div class="jumbotron">
        <h1 class="text-center">你好，歡迎來到這裡！</h1>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center">會放置許多Ingress Enlightment Taichung的資訊，堪稱台中綠軍人力資源庫</p>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center">這是一個用Ruby on Rails打造的網站！</p>
        <p class="text-center"><a href="#" class="btn btn-success btn-lg" role="button">更多訊息 &raquo;</a></p>
      </div>