<div class="jumbotron">
        <h1 class="text-center">你好！</h1>
        <p class="text-center">歡迎來到這裡！</p>
        <p class="text-center"></p>

        <p class="text-center"><a href="list" class="btn btn-success btn-lg" role="button">更多訊息 &raquo;</a></p>
      </div>