<p class="text-left"><a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> </p>
<div class="jumbotron">
  <h2 class="text-center">JSP with Struts</h2><br />

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->



  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet02.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">汽車防盜定位平台</h3>
          <p class="text-center"><a href="jsp_1" class="btn btn-warning" role="button">了解更多</a> </p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet05.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">物聯網與智慧家電平台</h3>
          <p class="text-center"><a href="jsp_2" class="btn btn-warning" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          

          <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_bid01.png" class="img-thumbnail" style="width:100%" />
          <h3 class="text-center">二手汽車代拍平台</h3>
          <p class="text-center"><a href="jsp_3" class="btn btn-warning" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    

  </div>
</div>