<p class="text-left" id="top">
  <a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> 
  <a href="jsp" class="btn btn-default btn-xs" role="button"><< Back to JSP</a> 
</p>
<div class="jumbotron">
  <h2 class="text-center" >物聯網與智慧家電平台</h2>

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->
    <h6 class="text-muted">相關技術：Embedded System、BlueTooth 4.0、HTML、CSS、JavaScript、jQuery、Java、JSP、Struts、PostgreSQL、Eclipse、SVN、JSON、AJAX</h6>
    <span class="label label-warning">專案介紹與負責工作</span>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;此專案與嵌入式系統結合，資料庫有即時的溫度、濕度、電力開關、伏特計、瓦特計、訊息等資料，透過登入前台網頁的方式，呈現列表、圖表、設定開關、送出Script等功能。後台可讓使用者管理使用所擁有的裝置，並註冊新裝置、啟動或關閉、設定警告方式。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;負責項目為：</h3>
    <h3>1.設計與修正Database，DAO、SqlHelper。</h3>
    <h3>2.設計前台頁面版型、各項功能：新增刪除頁面、新增刪除widget、修改widget。 </h3>
    <h3>3.設計後台頁面版型、各項管理功能、註冊、啟動或關閉、查詢擁有裝置等。 </h3>

        


  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet03.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet04.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet02.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
    <!--   
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div> -->

    

  </div>
  <p><a href="#top" class="btn btn-warning btn-lg" role="button">TOP</a> </p>
</div>