<p class="text-left" id="top">
  <a href="portfolio" class="btn btn-default btn-xs" role="button"><< Back to Portfolio</a> 
  <a href="jsp" class="btn btn-default btn-xs" role="button"><< Back to JSP</a> 
</p>
<div class="jumbotron">
  <h2 class="text-center" >汽車防盜定位平台</h2>

<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->
    <h6 class="text-muted">相關技術：HTML、CSS、JavaScript、jQuery、Java、JSP、Struts、PostgreSQL、Eclipse、SVN</h6>
    <span class="label label-warning">專案介紹與負責工作</span>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;    此專案為接觸JSP後第一個專案，GPS定位器放置於汽車上，定時發送GPS座標回Server儲存，建立一個後台提供使用者登入查詢自己的汽車所在位置，並可啟動、關閉防盜定位。</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;負責項目為： </h3>
    <h3>1.後台網頁建置打版、使用JDBC與PostgreSQL連接並建立DAO、SqlHelper。</h3>
    <h3>2.登入功能、使用者權限、載具定位查詢。 </h3>
        
<!--     <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc01.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc02.png" class="img-rounded" style="width:45%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc03.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />
    <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" /> -->
    



  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet01.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/jsp_inet02.png" class="img-rounded" style="width:100%" />
        </div>
      </div>
    </div>
<!--     <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_tpu03.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc04.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc05.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div>
        <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
              <img src="https://dl.dropboxusercontent.com/u/10288003/asp_ntpc06.png" class="img-rounded" style="width:100%" />

        </div>
      </div>
    </div> -->

    

  </div>
  <p><a href="#top" class="btn btn-warning btn-lg" role="button">TOP</a> </p>
</div>