<div class="jumbotron">
        <h1 class="text-center">hello!</h1>
        <h5 class="text-center">My name is <b>J.H Hung</b> aka Raven Hung .</h5>
        <h6><p class="text-center">I'm a Web Developer and Programmer.</p></h6>
        <p class="text-center"><a href="aboutme" class="btn btn-info btn-xs" role="button">About me</a> </p>
<!--         <p class="text-center">
        <%=link_to("Login",new_user_session_path)%>  
        	<%=link_to("SignUp",new_user_registration_path)%><br />
        	<%=link_to("Logout",destroy_user_session_path,:method=>:delete)%>
        </p> -->



  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>ASP.NET</h3>
          <p>使用Visual Studio 2012以及ASP.NET 4.5版本搭配MS SQL Server開發ASP網頁，以政府相關CASE為主。</p>
          <p><a href="asp" class="btn btn-primary btn-xs" role="button">了解更多</a> </p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>JSP with Struts</h3>
          <p>Struts是由Apache開發與維護，使用者多且支援廣，是開發JAVA Web應用程式時的首選MVC Framework之一。</p>
          <p><a href="jsp" class="btn btn-warning btn-xs" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Others</h3>
          <p>收錄一些學生時代的創作，包含影像處理、嵌入式系統、FPGA與VLSI Design等等。</p>
          <p><a href="other" class="btn btn-success btn-xs" role="button">了解更多</a> </p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Python</h3>
          <p>以Python組合scrapy、pandas、selenium等玩具，搭配Machine Learning做出一道美味佳餚。</p>
          <p><a href="#" class="btn btn-danger btn-xs" role="button">施工中</a></p>
        </div>
      </div>
    </div>
    

  </div>
</div>